In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('loan-data.xlsx',usecols=['funded_amnt','term','int_rate','installment',
                                            'emp_length','home_ownership','annual_inc',
                                             'verification_status','purpose',
                                             'total_pymnt','total_rec_prncp','total_rec_int',
                                             'last_pymnt_amnt','repay_fail'])

In [3]:
data = df.copy()

In [4]:
df

,funded_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0.0,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,major_purchase,0.000000,0.00,0.00,0.00,1
1,2500.0,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,other,3075.291779,2500.00,575.29,90.85,0
2,5000.0,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,debt_consolidation,2948.760000,1909.02,873.81,175.67,1
3,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,other,8082.391880,7000.00,1082.39,1550.27,0
4,2000.0,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,debt_consolidation,2161.663244,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.0,36 months,11.99,99.63,3 years,RENT,74250.0,Verified,credit_card,3586.619764,3000.00,586.62,100.30,0
38476,10400.0,36 months,13.49,352.88,9 years,RENT,62000.0,Source Verified,credit_card,12703.534030,10400.00,2303.53,393.08,0
38477,10550.0,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,debt_consolidation,14202.267530,10550.00,3652.27,5439.96,0
38478,10000.0,36 months,16.89,355.99,1 year,RENT,48720.0,Not Verified,debt_consolidation,12815.178320,10000.00,2815.18,380.63,0
38479,3200.0,36 months,13.49,108.58,7 years,RENT,38400.0,Source Verified,debt_consolidation,3908.767275,3200.00,708.77,111.88,0

In [5]:
# checking null values
df.isna().sum()

funded_amnt              1
term                     0
int_rate                 0
installment              1
emp_length             993
home_ownership           0
annual_inc               2
verification_status      0
purpose                  0
total_pymnt              1
total_rec_prncp          1
total_rec_int            1
last_pymnt_amnt          1
repay_fail               0
dtype: int64

In [6]:
# Drop null values with complete record
df = df.dropna()

In [7]:
df.isna().sum()

funded_amnt            0
term                   0
int_rate               0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
purpose                0
total_pymnt            0
total_rec_prncp        0
total_rec_int          0
last_pymnt_amnt        0
repay_fail             0
dtype: int64

In [8]:
# checking duplicate values
df.duplicated().sum()

0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37485 entries, 0 to 38479
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt          37485 non-null  float64
 1   term                 37485 non-null  object
 2   int_rate             37485 non-null  float64
 3   installment          37485 non-null  float64
 4   emp_length           37485 non-null  object
 5   home_ownership       37485 non-null  object
 6   annual_inc           37485 non-null  float64
 7   verification_status  37485 non-null  object
 8   purpose              37485 non-null  object
 9   total_pymnt          37485 non-null  float64
 10  total_rec_prncp      37485 non-null  float64
 11  total_rec_int        37485 non-null  float64
 12  last_pymnt_amnt      37485 non-null  float64
 13  repay_fail           37485 non-null  int64
dtypes: float64(8), int64(1), object(5)
memory usage: 4.3+ MB

In [10]:
# choose only integer in the 'term' column
df['term'] = df['term'].str.split().str.get(0).str.replace(' ','')

C:\Users\HP\AppData\Local\Temp\ipykernel_872\1740231545.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['term'] = df['term'].str.split().str.get(0).str.replace(' ','')

In [11]:
# change type object into int column 'term'
df['term'] = df['term'].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_872\2304212772.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['term'] = df['term'].astype(int)

In [12]:
df['term']

0        36
1        36
2        36
3        36
4        36
         ..
38475    36
38476    36
38477    60
38478    36
38479    36
Name: term, Length: 37485, dtype: int32

In [13]:
# choose only integer column 'emp_length'
emp_length_mapping = {
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10
}

# Use the mapping to replace the strings with integers
df['emp_length'] = df['emp_length'].replace(emp_length_mapping)

C:\Users\HP\AppData\Local\Temp\ipykernel_872\2848625259.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['emp_length'] = df['emp_length'].replace(emp_length_mapping)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37485 entries, 0 to 38479
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt          37485 non-null  float64
 1   term                 37485 non-null  int32
 2   int_rate             37485 non-null  float64
 3   installment          37485 non-null  float64
 4   emp_length           37485 non-null  int64
 5   home_ownership       37485 non-null  object
 6   annual_inc           37485 non-null  float64
 7   verification_status  37485 non-null  object
 8   purpose              37485 non-null  object
 9   total_pymnt          37485 non-null  float64
 10  total_rec_prncp      37485 non-null  float64
 11  total_rec_int        37485 non-null  float64
 12  last_pymnt_amnt      37485 non-null  float64
 13  repay_fail           37485 non-null  int64
dtypes: float64(8), int32(1), int64(2), object(3)
memory usage: 4.1+ MB

In [15]:
df.home_ownership.value_counts()

RENT        17868
MORTGAGE    16723
OWN          2765
OTHER         125
NONE            4
Name: home_ownership, dtype: int64

In [16]:
# convert None category into Other category in column 'home_ownerships'
df['home_ownership'] = df['home_ownership'].apply(lambda x: "OTHER" if x == "NONE" else x)

C:\Users\HP\AppData\Local\Temp\ipykernel_872\1980732604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['home_ownership'] = df['home_ownership'].apply(lambda x: "OTHER" if x == "NONE" else x)

In [17]:
 df['home_ownership'].value_counts()

RENT        17868
MORTGAGE    16723
OWN          2765
OTHER         129
Name: home_ownership, dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37485 entries, 0 to 38479
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt          37485 non-null  float64
 1   term                 37485 non-null  int32
 2   int_rate             37485 non-null  float64
 3   installment          37485 non-null  float64
 4   emp_length           37485 non-null  int64
 5   home_ownership       37485 non-null  object
 6   annual_inc           37485 non-null  float64
 7   verification_status  37485 non-null  object
 8   purpose              37485 non-null  object
 9   total_pymnt          37485 non-null  float64
 10  total_rec_prncp      37485 non-null  float64
 11  total_rec_int        37485 non-null  float64
 12  last_pymnt_amnt      37485 non-null  float64
 13  repay_fail           37485 non-null  int64
dtypes: float64(8), int32(1), int64(2), object(3)
memory usage: 4.1+ MB

In [20]:
# change the verification_status column in to encoding
verification_status_mapping = {
    'Not Verified': 0,
    'Verified': 1,
    'Source Verified': 1
}

df['verification_status'] = df['verification_status'].replace(verification_status_mapping)

C:\Users\HP\AppData\Local\Temp\ipykernel_872\1626701939.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['verification_status'] = df['verification_status'].replace(verification_status_mapping)

In [21]:
# change the home_ownership column into encoding
home_ownership_mapping = {
    'RENT': 0,
    'MORTGAGE': 1,
    'OWN': 2,
    'OTHER': 3
}
df['home_ownership'] = df['home_ownership'].replace(home_ownership_mapping)

C:\Users\HP\AppData\Local\Temp\ipykernel_872\739140682.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['home_ownership'] = df['home_ownership'].replace(home_ownership_mapping)

In [22]:
df['home_ownership']

0        0
1        0
2        0
3        1
4        0
        ..
38475    0
38476    0
38477    1
38478    0
38479    0
Name: home_ownership, Length: 37485, dtype: int64

In [23]:
df

,funded_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0.0,36,0.00,0.00,0,0,0.0,0,major_purchase,0.000000,0.00,0.00,0.00,1
1,2500.0,36,13.98,85.42,4,0,20004.0,0,other,3075.291779,2500.00,575.29,90.85,0
2,5000.0,36,15.95,175.67,4,0,59000.0,0,debt_consolidation,2948.760000,1909.02,873.81,175.67,1
3,7000.0,36,9.91,225.58,10,1,53796.0,0,other,8082.391880,7000.00,1082.39,1550.27,0
4,2000.0,36,5.42,60.32,10,0,30000.0,0,debt_consolidation,2161.663244,2000.00,161.66,53.12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.0,36,11.99,99.63,3,0,74250.0,1,credit_card,3586.619764,3000.00,586.62,100.30,0
38476,10400.0,36,13.49,352.88,9,0,62000.0,1,credit_card,12703.534030,10400.00,2303.53,393.08,0
38477,10550.0,60,14.96,250.77,10,1,95088.0,1,debt_consolidation,14202.267530,10550.00,3652.27,5439.96,0
38478,10000.0,36,16.89,355.99,1,0,48720.0,0,debt_consolidation,12815.178320,10000.00,2815.18,380.63,0
38479,3200.0,36,13.49,108.58,7,0,38400.0,1,debt_consolidation,3908.767275,3200.00,708.77,111.88,0

In [24]:
# create dummies 
df = pd.get_dummies(df)

In [25]:
df.columns

Index(['funded_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'total_pymnt',
       'total_rec_prncp', 'total_rec_int', 'last_pymnt_amnt', 'repay_fail',
       'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding'],
      dtype='object')

In [27]:
X = df.drop('repay_fail', axis=1)

In [28]:
y = df['repay_fail']

In [30]:
X.columns

Index(['funded_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'total_pymnt',
       'total_rec_prncp', 'total_rec_int', 'last_pymnt_amnt', 'purpose_car',
       'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy', 'purpose_small_business',
       'purpose_vacation', 'purpose_wedding'],
      dtype='object')

In [36]:
y

0        1
1        0
2        1
3        0
4        0
        ..
38475    0
38476    0
38477    0
38478    0
38479    0
Name: repay_fail, Length: 37485, dtype: int64

In [46]:
# apply train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [51]:
y_train.shape

(26239,)

In [52]:
X_train.shape

(26239, 26)

In [53]:
# import classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [56]:
clf = DecisionTreeClassifier()

DecisionTreeClassifier()

In [57]:
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [59]:
y_pred = clf.predict(X_test)
y_pred

array([0, 0, 1, ..., 0, 1, 0], dtype=int64)

In [60]:
# checking accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.988440334341099

In [62]:
r2_score(y_test,y_pred)

0.9073857281355111

In [63]:
from sklearn.metrics import classification_report

In [64]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      9602
           1       0.96      0.97      0.96      1644

    accuracy                           0.99     11246
   macro avg       0.98      0.98      0.98     11246
weighted avg       0.99      0.99      0.99     11246